@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

.wrap {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
}

.txt-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 770px;
  padding: 75px 0 35px 0;
}

.txt-head {
  display: block;
  font-size: 52px;
  font-weight: bold;
}

.txt-topic {
  display: block;
  font-size: 30px;
}

.txt-paragraph {
  display: block;
  font-size: 16px;
  margin: 16px 0 0 0;
}

.btn {
  display: block;
  text-transform: uppercase;
  padding: 21px 37px 18px 37px;
  background: #998675;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 #736300;
          box-shadow: 0 3px 0 0 #736300;
}

.btn:hover {
  color: #736300;
  background: #a3a2a0;
}

.btn:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*----Шапка----*/
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /*----навигация----*/
  /*----контент----*/
}

.header .header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  z-index: 10;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header .header-nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header .header-nav .wrap .header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  height: 56px;
  text-decoration: none;
  color: #ffffff;
}

.header .header-nav .wrap .header-nav-logo .header-nav-logo-svg {
  fill: currentColor;
}

.header .header-nav .wrap .header-nav-logo .header-nav-logo-txt {
  text-decoration: none;
  font-size: 34px;
}

.header .header-nav .wrap .header-nav-logo:hover {
  color: #998675;
}

.header .header-nav .wrap .header-nav-logo:active {
  color: #a3a2a0;
}

.header .header-nav .wrap .header-nav-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* margin: 0 0 0 auto; */
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items {
  padding: 0;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item {
  display: inline;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0 30px 0 0;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item:nth-child(8) {
  margin: 0;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item-url {
  text-decoration: none;
  color: #ffffff;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item-url:hover {
  color: #998675;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item-url:active {
  color: #a3a2a0;
}

.header .header-nav .wrap .header-nav-basket {
  margin: 0 0 0 63px;
  background: transparent;
  border: none;
  outline: none;
}

.header .header-nav .wrap .header-nav-basket .header-nav-basket-svg {
  fill: #ffffff;
}

.header .header-nav .wrap .header-nav-basket .header-nav-basket-svg:hover {
  fill: #998675;
}

.header .header-nav .wrap .header-nav-basket .header-nav-basket-svg:active {
  fill: #a3a2a0;
}

.header .header-nav .wrap .header-nav-search-form {
  position: relative;
  margin: 0 0 0 28px;
}

.header .header-nav .wrap .header-nav-search-form .header-nav-search-form-txt {
  display: none;
  position: absolute;
  top: 29px;
  left: -172px;
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #ffffff;
}

.header .header-nav .wrap .header-nav-search-form:hover .header-nav-search-form-txt {
  display: block;
}

.header .header-nav .wrap .header-nav-search-form .header-nav-search-form-svg {
  fill: #ffffff;
}

.header .header-nav .wrap .header-nav-search-form .header-nav-search-form-svg:hover {
  cursor: pointer;
  fill: #998675;
}

.header .header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1620px;
  position: relative;
}

.header .header-banner .header-banner-btn svg {
  fill: #d3c1ad;
}

.header .header-banner .header-banner-btn:hover svg {
  fill: #a3a2a0;
}

.header .header-banner .header-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 590px;
}

.header .header-banner .header-banner-content .txt-topic {
  margin: 0 0 23px 0;
  font-size: 36px;
}

.header .header-banner .header-banner-content .txt-head {
  font-weight: bold;
  margin: 0 0 31px 0;
}

.header .header-banner .header-banner-content .txt-paragraph {
  margin: 0 0 52px 0;
}

.header .header-banner .header-banner-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 40px 0;
  width: 100%;
}

.header .header-banner .header-banner-pagination .header-banner-pagination-btn {
  display: block;
  margin: 0 10px 0 0;
  height: 11px;
  width: 11px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.4;
}

.header .header-banner .header-banner-pagination .header-banner-pagination-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 1px solid #998675;
  background: transparent;
  opacity: 1;
}
<<<<<<< HEAD
=======

.main {
  /*----Возможности----*/
  /*----Идеи----*/
  /*----Реклама----*/
  /*----Проекты----*/
  /*----Презентация----*/
}

.main .capability {
  height: 373px;
}

.main .capability .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main .capability .wrap .capability-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 256px;
}

.main .capability .wrap .capability-item .capability-item-svg-inner {
  width: 50px;
  height: 50px;
  margin: 0 0 29px 0;
}

.main .capability .wrap .capability-item .capability-item-svg-inner .capability-item-svg {
  display: block;
  fill: #555555;
  width: 50px;
  height: 50px;
}

.main .capability .wrap .capability-item:hover .capability-item-svg {
  fill: #c7b299;
  cursor: pointer;
}

.main .capability .wrap .capability-item .capability-item-head {
  display: block;
  color: #555555;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 19px 0;
}

.main .capability .wrap .capability-item .capability-item-txt {
  display: block;
  color: #8c8c8c;
  font-size: 14px;
  text-align: center;
  margin: 0 0 30px 0;
}

.main .capability .wrap .capability-item:hover .capability-item-head {
  color: #c7b299;
  cursor: pointer;
}

.main .capability .wrap .capability-item::after {
  position: absolute;
  bottom: 80px;
  margin: 0 auto;
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.main .capability .wrap .capability-item:hover:after {
  background-color: #c7b299;
}

.main .ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbfaf8;
}

.main .ideas .txt-wrp .txt-topic {
  text-align: center;
  color: #555555;
}

.main .ideas .txt-wrp .txt-paragraph {
  text-align: center;
  color: #8c8c8c;
}

.main .ideas .ideas-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1230px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main .ideas .ideas-item .ideas-item-img:nth-child(1) {
  position: absolute;
  left: 0px;
  height: 400px;
  width: 770px;
  background-image: url(../img/browser-left.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .ideas .ideas-item .ideas-item-img:nth-child(1):hover {
  z-index: 2;
}

.main .ideas .ideas-item .ideas-item-img:nth-child(2) {
  position: relative;
  z-index: 1;
  height: 482px;
  width: 770px;
  background-image: url(../img/browser-center.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .ideas .ideas-item .ideas-item-img:nth-child(3) {
  position: absolute;
  right: 0px;
  height: 400px;
  width: 770px;
  background-image: url(../img/browser-right.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .ideas .ideas-item .ideas-item-img:nth-child(3):hover {
  z-index: 2;
}

.main .advertising {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
  height: 150px;
}

.main .advertising .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main .advertising .wrap .advertising-txt .txt-topic {
  color: #ffffff;
}

.main .advertising .wrap .advertising-txt .txt-topic .advertising-txt-brown {
  color: #c7b299;
}

.main .advertising .wrap .advertising-txt .advertising-txt-paragraph {
  color: #615855;
  margin: 16px 0 0 0;
}

.main .projects .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .projects .txt-wrp .txt-topic {
  text-align: center;
  color: #555555;
}

.main .projects .txt-wrp .txt-paragraph {
  text-align: center;
  color: #8c8c8c;
}

.main .projects .projects-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .projects .projects-controls .projects-controls-item {
  display: block;
  margin: 0 10px 0 0;
  text-transform: capitalize;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  text-decoration: none;
  color: #8c8c8c;
}

.main .projects .projects-controls .projects-controls-item:hover {
  background: #998675;
  color: #ffffff;
  border: 1px solid #998675;
}

.main .projects .projects-controls .projects-controls-item:nth-child(5) {
  margin: 0;
}

.main .projects .projects-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1170px;
  margin: 40px 0 30px 0;
}

.main .projects .projects-items .projects-items-item {
  position: relative;
  width: 370px;
  height: 337px;
  background: #fbfaf8;
  margin: 10px;
}

.main .projects .projects-items .projects-items-item .projects-item-img {
  display: block;
}

.main .projects .projects-items .projects-items-item .projects-items-svg-url {
  position: absolute;
  top: 105px;
  display: none;
}

.main .projects .projects-items .projects-items-item .projects-items-svg-url:nth-child(3) {
  left: 150px;
}

.main .projects .projects-items .projects-items-item .projects-items-svg-url:nth-child(4) {
  right: 150px;
}

.main .projects .projects-items .projects-items-item .projects-items-svg-url .projects-item-svg-link,
.main .projects .projects-items .projects-items-item .projects-items-svg-url .projects-item-svg-lupa {
  fill: white;
}

.main .projects .projects-items .projects-items-item .project-item-wrap-txt {
  position: relative;
  padding: 25px 30px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .projects .projects-items .projects-items-item .project-item-wrap-txt .project-item-title {
  color: #c7b299;
  font-size: 20px;
  margin: 0 0 10px 0;
  display: block;
}

.main .projects .projects-items .projects-items-item .project-item-wrap-txt .project-item-txt {
  color: #d1d1d1;
  font-size: 14px;
  margin: 0;
}

.main .projects .projects-items .projects-items-item .project-item-wrap-txt::before {
  position: absolute;
  top: -10px;
  left: 20px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}

.main .projects .projects-items .projects-items-item:hover {
  background-color: #362f2d;
}

.main .projects .projects-items .projects-items-item:hover .project-item-wrap-txt::before {
  border-bottom: 10px solid #362f2d;
}

.main .projects .projects-items .projects-items-item:hover .projects-items-svg-url {
  display: block;
}

.main .projects .projects-items .projects-items-item:hover .projects-item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.main .projects .projects-items .projects-items-item:hover .projects-item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.main .projects .projects-items .projects-items-item:hover .project-item-title {
  color: #ffffff;
}

.main .projects .projects-items .projects-items-item:hover .project-item-txt {
  color: #c7b299;
}

.main .projects .projects-items .projects-items-item:hover .projects-items-svg-url:hover .projects-item-svg-link,
.main .projects .projects-items .projects-items-item:hover .projects-items-svg-url:hover .projects-item-svg-lupa {
  fill: #998675;
}

.main .projects .btn {
  margin: 0 0 80px 0;
}

.main .presentation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 705px;
  width: 100%;
}

.main .presentation .presentation-video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .presentation .presentation-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30%;
  margin: 0 auto;
}

.main .presentation .presentation-content .presentation-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main .presentation .presentation-content .presentation-content-btn .presentation-content-svg {
  fill: #ffffff;
}

.main .presentation .presentation-content .presentation-content-btn:hover .presentation-content-svg {
  fill: #998675;
}

.main .presentation .presentation-content .txt-wrp {
  padding-top: 44px;
}

.main .presentation .presentation-content .txt-wrp .txt-topic {
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}

.main .presentation .presentation-content .txt-wrp .txt-paragraph {
  color: #ffffff;
  text-align: center;
}

.main .presentation .presentation-content .projects-content-time {
  display: block;
  color: #c7b299;
  font-size: 14px;
}

.main .mobile {
  height: 695px;
}

.main .mobile .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.main .mobile .mobile-img {
  display: block;
  max-width: 500px;
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.main .mobile .mobile-content-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 658px;
  height: 100%;
}

.main .mobile .mobile-content-wrp .txt-topic {
  color: #555555;
}

.main .mobile .mobile-content-wrp .txt-paragraph {
  color: #8c8c8c;
}

.main .mobile .mobile-content-wrp .mobile-content-items {
  list-style-type: none;
  padding: 0;
  margin: 77px 0 0 0;
  padding: 0 0 0 49px;
}

.main .mobile .mobile-content-wrp .mobile-content-items .mobile-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  position: relative;
  margin: 0 0 20px 0;
}

.main .mobile .mobile-content-wrp .mobile-content-items .mobile-content-item .fa-chevron-circle-right {
  font-size: 21px;
  color: #c7b299;
  margin: 0 30px 0 0;
}

.main .mobile .mobile-content-wrp .mobile-content-items .mobile-content-item:nth-child(4) {
  margin: 0;
}

.scroll {
  background: #fff;
  color: #333;
  -webkit-box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
          box-shadow: 0 5px 7px 0 rgba(24, 33, 47, 0.2);
}
>>>>>>> 37e67706b2d08a16fff347e184753e417f900968
