@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

.wrap {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
}

.txt-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 770px;
  padding: 75px 0 35px 0;
}

.txt-head {
  display: block;
  font-size: 52px;
  font-weight: bold;
}

.txt-topic {
  display: block;
  font-size: 30px;
}

.txt-paragraph {
  display: block;
  font-size: 16px;
  margin: 16px 0 0 0;
}

.btn {
  display: block;
  text-transform: uppercase;
  padding: 21px 37px 18px 37px;
  background: #998675;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 #736300;
          box-shadow: 0 3px 0 0 #736300;
}

.btn:hover {
  color: #736300;
  background: #a3a2a0;
}

.btn:active {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*----Шапка----*/
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /*----навигация----*/
  /*----контент----*/
}

.header .header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;
  z-index: 10;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header .header-nav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header .header-nav .wrap .header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  height: 56px;
  text-decoration: none;
  color: #ffffff;
}

.header .header-nav .wrap .header-nav-logo .header-nav-logo-svg {
  fill: currentColor;
}

.header .header-nav .wrap .header-nav-logo .header-nav-logo-txt {
  text-decoration: none;
  font-size: 34px;
}

.header .header-nav .wrap .header-nav-logo:hover {
  color: #998675;
}

.header .header-nav .wrap .header-nav-logo:active {
  color: #a3a2a0;
}

.header .header-nav .wrap .header-nav-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* margin: 0 0 0 auto; */
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items {
  padding: 0;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item {
  display: inline;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0 30px 0 0;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item:nth-child(8) {
  margin: 0;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item-url {
  text-decoration: none;
  color: #ffffff;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item-url:hover {
  color: #998675;
}

.header .header-nav .wrap .header-nav-list .header-nav-list-items .header-nav-list-item-url:active {
  color: #a3a2a0;
}

.header .header-nav .wrap .header-nav-basket {
  margin: 0 0 0 63px;
  background: transparent;
  border: none;
  outline: none;
}

.header .header-nav .wrap .header-nav-basket .header-nav-basket-svg {
  fill: #ffffff;
}

.header .header-nav .wrap .header-nav-basket .header-nav-basket-svg:hover {
  fill: #998675;
}

.header .header-nav .wrap .header-nav-basket .header-nav-basket-svg:active {
  fill: #a3a2a0;
}

.header .header-nav .wrap .header-nav-search-form {
  position: relative;
  margin: 0 0 0 28px;
}

.header .header-nav .wrap .header-nav-search-form .header-nav-search-form-txt {
  display: none;
  position: absolute;
  top: 29px;
  left: -172px;
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #ffffff;
}

.header .header-nav .wrap .header-nav-search-form:hover .header-nav-search-form-txt {
  display: block;
}

.header .header-nav .wrap .header-nav-search-form .header-nav-search-form-svg {
  fill: #ffffff;
}

.header .header-nav .wrap .header-nav-search-form .header-nav-search-form-svg:hover {
  cursor: pointer;
  fill: #998675;
}

.header .header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1620px;
  position: relative;
}

.header .header-banner .header-banner-btn {
  margin: 200px 0 0 0;
}

.header .header-banner .header-banner-btn svg {
  fill: #d3c1ad;
}

.header .header-banner .header-banner-btn:hover svg {
  fill: #a3a2a0;
}

.header .header-banner .header-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 590px;
  margin: 200px 0 0 0;
}

.header .header-banner .header-banner-content .txt-topic {
  margin: 0 0 23px 0;
  font-size: 36px;
}

.header .header-banner .header-banner-content .txt-head {
  font-weight: bold;
  margin: 0 0 31px 0;
}

.header .header-banner .header-banner-content .txt-paragraph {
  margin: 0 0 52px 0;
}

.header .header-banner .header-banner-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 40px 0;
  width: 100%;
}

.header .header-banner .header-banner-pagination .header-banner-pagination-btn {
  display: block;
  margin: 0 10px 0 0;
  height: 11px;
  width: 11px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.4;
}

.header .header-banner .header-banner-pagination .header-banner-pagination-btn:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 1px solid #998675;
  background: transparent;
  opacity: 1;
}
