body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.wrap {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
}

.txt-wrp {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  padding: 75px 0 35px 0;
}
.txt-head {
  display: block;
  font-size: 52px;
  font-weight: bold;
}
.txt-topic {
  display: block;
  font-size: 30px;
}
.txt-paragraph {
  display: block;
  font-size: 16px;
  margin: 16px 0 0 0;
}

.btn {
  display: block;
  text-transform: uppercase;
  padding: 21px 37px 18px 37px;
  background: #998675;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 0 3px 0 0 rgba(115, 99, 0, 1);

  &:hover {
    color: rgba(115, 99, 0, 1);
    background: #a3a2a0;
  }
  &:active {
    transform: translate(0, 3px);
    box-shadow: none;
  }
}

/*----Шапка----*/
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  /*----навигация----*/
  .header-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 10;
    // !-------
    transition: 0.2s linear;

    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;

      .header-nav-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 181px;
        height: 56px;
        text-decoration: none;
        color: #ffffff;

        .header-nav-logo-svg {
          fill: currentColor;
        }

        .header-nav-logo-txt {
          text-decoration: none;
          font-size: 34px;
        }

        &:hover {
          color: #998675;
        }
        &:active {
          color: #a3a2a0;
        }
      }

      .header-nav-list {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
        /* margin: 0 0 0 auto; */

        .header-nav-list-items {
          padding: 0;

          .header-nav-list-item {
            display: inline;
            list-style-type: none;
            text-transform: capitalize;
            font-size: 14px;
            margin: 0 30px 0 0;
          }
          .header-nav-list-item:nth-child(8) {
            margin: 0;
          }

          .header-nav-list-item-url {
            text-decoration: none;
            color: #ffffff;

            &:hover {
              color: #998675;
            }
            &:active {
              color: #a3a2a0;
            }
          }
        }
      }

      .header-nav-basket {
        margin: 0 0 0 63px;
        background: transparent;
        border: none;
        outline: none;

        .header-nav-basket-svg {
          fill: #ffffff;

          &:hover {
            fill: #998675;
          }
          &:active {
            fill: #a3a2a0;
          }
        }
      }

      .header-nav-search-form {
        position: relative;
        margin: 0 0 0 28px;

        .header-nav-search-form-txt {
          display: none;
          position: absolute;
          top: 29px;
          left: -172px;
          width: 200px;
          height: 40px;
          outline: none;
          border: none;
          color: #ffffff;
          font-size: 16px;
          background: transparent;
          border-bottom: 1px solid #ffffff;
        }

        &:hover .header-nav-search-form-txt {
          display: block;
        }

        .header-nav-search-form-svg {
          fill: #ffffff;

          &:hover {
            cursor: pointer;
            fill: #998675;
          }
          // &:active {
          //   fill: #a3a2a0;
          // }
        }
      }
    }
  }

  /*----контент----*/
  .header-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1620px;
    position: relative;

    .header-banner-btn {
      margin: 200px 0 0 0;
      svg {
        fill: #d3c1ad;
      }

      &:hover {
        svg {
          fill: #a3a2a0;
        }
      }
    }

    .header-banner-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 590px;
      margin: 200px 0 0 0;

      .txt-topic {
        margin: 0 0 23px 0;
        font-size: 36px;
      }
      .txt-head {
        font-weight: bold;
        margin: 0 0 31px 0;
      }
      .txt-paragraph {
        margin: 0 0 52px 0;
      }
    }

    .header-banner-pagination {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      margin: 0 0 40px 0;
      width: 100%;
      // width: 98px;
      // justify-content: space-between;
      // position: absolute;
      // bottom: 40px;
      // left: 0;
      // right: 0;

      .header-banner-pagination-btn {
        display: block;
        margin: 0 10px 0 0;
        height: 11px;
        width: 11px;
        border: 1px solid transparent;
        box-sizing: border-box;
        border-radius: 50%;
        background: #ffffff;
        opacity: 0.4;

        &:hover {
          transform: scale(1.3);
          border: 1px solid #998675;
          background: transparent;
          opacity: 1;
        }
      }
    }
  }
}
